---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Contact | Celtic Coast Creations">
  <Header />
  <main id="main">
    <Contact compact={true} />
  </main>
  <Footer />
</BaseLayout>
