---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import SocialStrip from "../components/SocialStrip.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <SocialStrip />
  </main>
  <Footer />
</BaseLayout>
